@import url(../../../vendor/Railroad/stylesheet.css);

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.cardsHolder__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
  padding-top: 30px;
}

.cardsHolder__input {
  display: block;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  background-color: rgb(255, 255, 243);
  border: 1px solid #e4e3de;
} 

@media screen and (max-width: 570px) {
  .cardsHolder__input {
    padding-left: 15px;
    min-width: 250px;
  }
}

.cardsHolder__input_active {
  background-color: rgb(148, 228, 126);
} 

.cardsHolder__input_active:focus { 
  background-color: rgb(148, 228, 126);
}
.cardsHolder__input_active:active { 
  font-weight: bold;
  background-color: rgb(148, 228, 126); 
}

.cardsHolder__card {
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: center;
  background-color: rgb(241, 245, 227);
  border-radius: 20px;
  border: 1px solid rgb(208, 205, 205);
  margin: 20px 0;
  gap: 10px;
  width: 350px;
  padding: 5px 15px;
  justify-content: space-between;
}

@media screen and (max-width: 570px) {
  .cardsHolder__card {
    width: 250px;
  }
}

.cardsHolder__card p {
  margin: 0;
  width: 100px;
}

.cardsHolder__button {
  text-decoration: none;
  border: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 200px;
  font-weight: 600;
  border-radius: 20px;
}

.cardsHolder__button:hover {
  box-shadow: 1px 1px 25px 10px rgba(234, 64, 64, 0.4);
  background: linear-gradient(to right, rgb(255, 192, 196), transparent, rgb(255, 192, 192));
  text-shadow: #333;
  transition: all .5s;
  transform: scale(1.1);
  border: none;
}

.cardsHolder__button1 {
  margin-top: 20px;
}

.cardsHolder__button-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 570px) {
  .cardsHolder__button-block {
    flex-direction: column;
  }
}

.cardsHolder__content {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 70px 100px 70px;
  max-width: 1140px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
}

.cardsHolder__title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
}

.cardsHolder__pensil {
  width: 25px;
  height: 25px;
}

.cardsHolder__pensil:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  margin: 30px;
}

.container img {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  border: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 200px;
  font-weight: 600;
  border-radius: 20px;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(183, 234, 64, 0.4);
  background: linear-gradient(to right, rgb(229, 255, 192), transparent, rgb(229, 255, 192));
  text-shadow: #333;
  transition: all .5s;
  transform: scale(1.1);
  border: none;
}

.aboutMe__button:hover:after{
  width: 100%;
}

.aboutMe__res-img {
  opacity: 0;
  animation: ani 2s forwards;
  /*transition: all .5s;*/
}

@media screen and (max-width: 770px) {
  .cardsHolder__content {
    padding: 90px 50px 90px 50px;
  }
}

@media screen and (max-width: 770px) {
  .cardsHolder__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 364px;
  }
}

@media screen and (max-width: 770px) {
  .cardsHolder__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 364px;
  }
}

@media screen and (max-width: 650px) {
  .cardsHolder__text-block {
    flex-direction: column-reverse;
    padding-top: 60px;
  }
}

@media screen and (max-width: 650px) {
  .cardsHolder__content {
    padding: 70px 14px 70px 14px;
  }
}

@media screen and (max-width: 650px) {
  .cardsHolder__text {
    padding-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 650px) {
  .cardsHolder__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}
