@import url(../../vendor/Railroad/stylesheet.css);

.main__content {
  background-color: #ffffff;
}

.slider__img2 {
  width: 80%;
  flex-grow: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 320px;
  min-height: 150px;
}

@media screen and (max-width: 500px) {
  .slider__img2 {
    width: 100%;
    box-shadow: none;
  }
}